/*
* @Author: Administrator
* @Date:   2017-03-31 00:22:10
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-11 11:45:26
*/
*{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
body{
	background: #F5F5F5;
}
/* 导航开始 */
nav{
	height: 32px;
	background: #F2F2F2;
	border-bottom: 1px solid #E5E5E5;
}
nav .con{
	height: 100%;
	position: relative;
}
nav .con p{
	width: 218px;
	height: 100%;
	padding-top: 8px;
	box-sizing: border-box;
	float: left;
}
nav .con p span{
	display: block;
	float: left;
	color: #999;
	margin-right:16px; 
}
nav .con p a{
	display: block;
	color: #999;
	float: left;
	margin-right: 16px;
}
nav .con p a:hover{
	color: #C40000;
}
nav .con ul{
	width: auto;
	height: 100%;
}
nav .con ul>li{
	width: auto;
	height: 100%;
	padding: 8px;
	box-sizing: border-box;
	float: right;
}
/* nav .con ul li:nth-child(5){
	width: 1px;
	height: 14px;
	background:#CCC;
	margin-right: 20px;
} */

 nav .con ul li a{
	color:#999;
}

nav .con ul>li:hover a{
	color: #C40000;
} 

/* 网站导航下拉 */
nav .con ul .wode{
	position: relative;
}
nav .con ul .wode .wo{
	width:94px;
	height: 57px;
	background: #fff;
	position: absolute;
	top: 33px;
	left: -1px;
	z-index: 1000;
	color: #767676;
	border: 1px solid #E5E5E5;
	border-top: none;
	padding: 10px 10px;
	box-sizing: border-box;	
	display: none;
}
nav .con ul li .wo span{
	display: block;
	line-height: 17px;
}
nav .con ul .wode:hover{
	background: #fff;	
	text-decoration: underline;
	cursor: pointer;
}
nav .con ul .wode:hover .wo{
	display: block;
}

/* 收藏夹 */
nav .con ul .shou:hover{
	background: #fff;	
	text-decoration: underline;
	cursor: pointer;
}
nav .con ul .shou{
	position: relative;
}
nav .con ul .shou .wo{
	width:94px;
	height: 57px;
	background: #fff;
	position: absolute;
	top: 33px;
	left: -1px;
	z-index: 1000;
	color: #767676;
	border: 1px solid #E5E5E5;
	border-top: none;
	padding: 10px 10px;
	box-sizing: border-box;	
	display: none;
}
nav .con ul .shou .wo span{
	display: block;
	line-height: 17px;
}
nav .con ul .shou:hover{
	background: #fff;	
	text-decoration: underline;
	cursor: pointer;
}
nav .con ul .shou:hover .wo{
	display: block;
}

/* 手机版 */
nav .con ul .ji:hover{
	background: #fff;	
	text-decoration: underline;
	cursor: pointer;
}
nav .con ul .ji{
	position: relative;
}
nav .con ul .ji .sao{
	width:175px;
	height:227px;
	background: #fff;
	position: absolute;
	top: 30px;
	left: -60px;
	z-index: 1000;
	color: #767676;
	border: 1px solid #E5E5E5;
	border-top: none;
	box-shadow: 1px 1px 10px 0.5px #ccc;
	display: none;
}
nav .con ul .ji .sao .san{
	width: 0;
	height: 0;
	border-left: 7px solid rgba(0, 0, 0, 0);
	border-right: 7px solid rgba(0, 0, 0, 0);
	border-bottom: 7px solid #fff;
	z-index: 1010;
	position: absolute;
	top: -7px;
	left: 80px;	
}
nav .con ul .ji .sao .top{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 18px;
	left: 13px;
	background-image: url('../img/sao.png');
	background-repeat: no-repeat;
	background-position:-13px 0 ;
}
nav .con ul .ji .sao .bottom{
	width: 150px;
	height: 47px;
	position: absolute;
	top: 170px;
	left: 13px;
	background-image: url('../img/sao.png');
	background-repeat: no-repeat;
	background-position:0px -170px; 
}
nav .con ul .ji:hover{
	background: #fff;	
	text-decoration: underline;
	cursor: pointer;
}
nav .con ul .ji:hover .sao{
	display: block;
}


/* 网站导航下拉列表 */
nav .con ul>li:nth-child(1):hover{
	background: #fff;	
	text-decoration: underline;
	cursor: pointer;
}
nav .con ul>li:nth-child(1):hover .wang{
	display: block;
}
nav .con ul>li .wang{
	width: 1200px;
	height: 252px;
	background: #fff;
	/* background: red; */
	z-index: 100;
	position: absolute;
	top: 33px;
	left: 29px;
	display: none;
}
nav .con ul>li .wang h1{
	font-size: 16px;
	color: #F67A1D;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 20px;
}
nav .con ul>li .wang .h2{
	font-size: 16px;
	color: #6290E0;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 20px;
	position: absolute;
	top: 0px;
	left: 308px;
}
nav .con ul>li .wang .h3{
	font-size: 16px;
	color: #272727;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 20px;
	position: absolute;
	top: 0px;
	left: 710px;
}
nav .con ul>li .wang .h4{
	font-size: 16px;
	color: #777777;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 20px;
	position: absolute;
	top: 0px;
	left: 1015px;
}
nav .con ul>li .wang .left{
	width: 305px;
	height: 180px;
	/* background: red; */
	float: left;
	border-right: 1px solid #ccc;
	margin-top: 10px;
}
nav .con ul>li .wang .left .xia{
	width: 70px;
	height: 180px;
	/* background: blue; */
	float: left;
	margin-left: 30px;		
}
nav .con ul>li .wang .left .xia .xia1{
	display: block;
	color: #666;
	margin-top: 10px;
}
nav .con ul>li .wang .left .xia .xia1:hover{
	color: #FC710A;
	text-decoration: underline;
}

nav .con ul>li .wang .center{
	width: 404px;
}
nav .con ul>li .wang .center .xia2{
	width: 60px;
}
nav .con ul>li .wang .center .xia2 .xia1:hover{
	color: #437ADA;
	text-decoration: underline;
}

nav .con ul>li .wang .right{
	width:305px;
}
nav .con ul>li .wang .right .xia3{
	width: 60px;
}
nav .con ul>li .wang .right .xia3 .xia4:hover{
	color: #464646;
	text-decoration: underline;
}
nav .con ul>li .wang .later{
	width:150px;
	border-right: 0;
}
nav .con ul>li .wang .later .xia4{
	width: 60px;
}
nav .con ul>li .wang .later .xia4 .xia5:hover{
	color: #777777;
	text-decoration: underline;
}

/* 商家支持下拉列表 */
nav .con ul .shang1{
	position: relative;
}
nav .con ul .shang1 .shang{
	width: 144px;
	height: 177px;
	background:#fff;
	position: absolute;
	top: 33px;
	right: -1px;
	z-index: 100;
	display: none;
}
nav .con ul .shang1 .shang .s1{
	display: block;
	color: #787878;
	font-size: 12px;
	margin-top: 10px;
	margin-left: 10px;
}
nav .con ul .shang1 .shang .left{
	width: 67px;
	height: 100px;
	float: left;
	margin-left: 10px;
}
nav .con ul .shang1 .shang .left>a{
	margin-top: 6px;
	display: block;
	color: #666;
}
nav .con ul .shang1 .shang .right{
	width: 67px;
	height: 100px;
	float: left;
}
nav .con ul .shang1 .shang .right>a{
	margin-top: 6px;
	display: block;
	color: #666;
}
nav .con ul .shang1 .shang .s2{
	display: block;
	color: #787878;
	font-size: 12px;
	margin-top: 0;
	margin-left: 10px;
}
nav .con ul .shang1 .shang .right>a:hover{
	color: #C40000;
	text-decoration:underline;
}
nav .con ul .shang1 .shang .left>a:hover{
	color: #C40000;
	text-decoration:underline;
}
nav .con ul .shang1:hover .shang{
	display: block;
}
nav .con ul .shang1:hover{
	background: #fff;	
	text-decoration: underline;
	cursor: pointer;
}




/* 导航开始 */
.header{
	height: 130px;
	background: #fff;
}
.header .con{
	height: auto;
	/* background: red; */
}
.header .con .bao{
	height: 65px;
	width: auto
}
.header .con>img{
	display: block;
	float: left;
	margin-left: -30px;
}
.header .con .sou{
	width:auto;
	height: auto;
	overflow: hidden;
}
.header .con .sou div{
	width: 491px;
	height: 36px;
	border: 2px solid #C40000;
	margin-top: 45px;
	margin-left: 100px;
	float: left;
}
.header .con .sou div>input{
	width: 491px;
	margin-top: 10px;
	outline: none;
	font-size: 14px;
	border: none;
	color: #CCCCCC;
}
.header .con .sou a{
	display: block;
	width: 130px;
	height: 40px;
	background:#C40000;
	font-size: 14px;
	margin-top: 45px;
	float: left;
}
.header .con .sou a>input{
	display: block;
	margin: 0 auto;
	background: none;
	border: none;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	margin-top: 7px;
	letter-spacing: 5px;
}
/*搜索框下面的文字 */
.header .con ul{
	width: 625px;
	margin-top: 12px;
	/* height: 30px; */
	/* background: red; */
	margin-left: 95px;
	float: left;
}
.header .con ul>li{
	height: 14px;
	float: left;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	line-height: 14px;
}
.header .con ul .diao2{
	border-right:0;
}

.header .con ul>li a{
	display: block;
	font-size: 14px;
	color: #999;
	text-align: center;
	padding: 0 5px;
	box-sizing: border-box;
}
.header .con ul>li a:hover{
	color: #c40000;
}
/* 导航结束 */

/* banner开始 */
.ban_top{
	width: 100%;
	height: 36px;
	background: #DD2727;
}
.ban_top .ban_con{
	height: 100%;
	/* background:blue; */
}
.ban_top .ban_con .right{
	width: 200px;
	height: 100%;
	float: left;
	background: #C60A0A;
	padding-left: 30px;
	box-sizing: border-box;
	line-height: 36px;
}
.ban_top .ban_con .right>span{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.ban_top .ban_con>a{
	display: block;
	float: left;
	margin-left: 26px;
}
.ban_top .ban_con .a1{
	position: relative;
}
.ban_top .ban_con .a1>img:nth-child(1){
	position: relative;
	z-index: 50;
}
.ban_top .ban_con .a1 .mao{
	position: absolute;
	top: 0px;
	left:28px;
	transition: all 0.3s ease;
}
.ban_top .ban_con .a1:hover .mao{
	top: -10px;
}
.ban_top .ban_con .a3{
	position: relative;
	line-height: 39px;
}
.ban_top .ban_con .a3>span{
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 50;
	line-height: 18px;
}
.ban_top .ban_con .a3 .mao{
	position: absolute;
	top: 0px;
	left:16px;
	transition: all 0.3s ease;
}
.ban_top .ban_con .a3:hover .mao{
	top: -10px;
}
.ban_top .ban_con .a4{
	position: relative;
	line-height: 39px;
}
.ban_top .ban_con .a4>span{
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 50;
	line-height: 18px;
}
.ban_top .ban_con .a4 .mao{
	position: absolute;
	top: 0px;
	left:5px;
	transition: all 0.3s ease;
}
.ban_top .ban_con .a4:hover .mao{
	top: -10px;
}
.ban_top .ban_con .a9{
	position: relative;
	line-height: 39px;
}
.ban_top .ban_con .a9>span{
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 50;
	line-height: 18px;
}
.ban_top .ban_con .a9 .mao{
	position: absolute;
	top: 0px;
	left:15px;
	transition: all 0.3s ease;
}
.ban_top .ban_con .a9:hover .mao{
	top: -10px;
}
/* banner图 */
.ban{
	width: 100%;
	height: 505px;
	background: #E8E8E8;
}
.ban .con{
	height:500px;
	position: relative;
}
.ban .con>.a1{
	display: block;
}
.ban .con ul{
	width: 200px;
	height:500px;
	position: absolute;
	top:0;
	left: 0;
}
.ban .con ul>li{
	width: 200px;
	height: 6.25%;
	padding: 5px 20px;
	box-sizing: border-box;	
}
.ban .con ul>li i{
	display: block;
	float: left;
}
.ban .con ul>li .a1{
	color: #454545;
	font-size: 14px;
	margin-right: 3px;
	margin-left: 3px;
}
.ban .con ul>li:nth-child(1):hover .nv{
	display: block;
}
.ban .con ul>li:nth-child(1):hover{
	background: #fff;
	color: #E54077;
}
.ban .con ul>li:nth-child(1):hover .a1{
	color: #E54077;
	font-weight: bold;
}
.ban .con ul>li:nth-child(2):hover{
	background: #fff;
	color:#427DEF;
}
.ban .con ul>li:nth-child(2):hover .a1{
	color: #427DEF;
	font-weight: bold;
}
.ban .con ul>li:nth-child(3):hover{
	background: #fff;
	color: #6347ED;
}
.ban .con ul>li:nth-child(3):hover .a1{
	color: #6347ED;
	font-weight: bold;
}
.ban .con ul>li:nth-child(4):hover{
	background: #fff;
	color:  #E54077;
}
.ban .con ul>li:nth-child(4):hover .a1{
	color: #E54077;
	font-weight: bold;
}
.ban .con ul>li:nth-child(5):hover{
	background: #fff;
	color:  #8670F1;
}
.ban .con ul>li:nth-child(5):hover .a1{
	color: #8670F1;
	font-weight: bold;
}
.ban .con ul>li:nth-child(6):hover{
	background: #fff;
	color: #4982EF;
}
.ban .con ul>li:nth-child(6):hover .a1{
	color: #4982EF;
	font-weight: bold;
}
.ban .con ul>li:nth-child(7):hover{
	background: #fff;
	color:  #FA5C5C;
}
.ban .con ul>li:nth-child(7):hover .a1{
	color: #FA5C5C;
	font-weight: bold;
}
.ban .con ul>li:nth-child(8):hover{
	background: #fff;
	color:  #F8B34C;
}
.ban .con ul>li:nth-child(8):hover .a1{
	color: #F8B34C;
	font-weight: bold;
}
.ban .con ul>li:nth-child(9):hover{
	background: #fff;
	color: #F8B34C;
}
.ban .con ul>li:nth-child(9):hover .a1{
	color: #F8B34C;
	font-weight: bold;
}
.ban .con ul>li:nth-child(10):hover{
	background: #fff;
	color:#588CF0;
}
.ban .con ul>li:nth-child(10):hover .a1{
	color: #588CF0;
	font-weight: bold;
}
.ban .con ul>li:nth-child(11):hover{
	background: #fff;
	color: #DD2727;
}
.ban .con ul>li:nth-child(11):hover .a1{
	color: #DD2727;
	font-weight: bold;
}
.ban .con ul>li:nth-child(12):hover{
	background: #fff;
	color:#447EEF;
}
.ban .con ul>li:nth-child(12):hover .a1{
	color: #447EEF;
	font-weight: bold;
}
.ban .con ul>li:nth-child(13):hover{
	background: #fff;
	color: #F7A831;
}
.ban .con ul>li:nth-child(13):hover .a1{
	color: #F7A831;
	font-weight: bold;
}
.ban .con ul>li:nth-child(14):hover{
	background: #fff;
	color:#5FD1BF;
}
.ban .con ul>li:nth-child(14):hover .a1{
	color: #5FD1BF;
	font-weight: bold;
}
.ban .con ul>li:nth-child(15):hover{
	background: #fff;
	color:#DD2727;
}
.ban .con ul>li:nth-child(15):hover .a1{
	color: #DD2727;
	font-weight: bold;
}
.ban .con ul>li:nth-child(16):hover{
	background: #fff;
	color: #3BC7B0;
}
.ban .con ul>li:nth-child(16):hover .a1{
	color: #3BC7B0;
	font-weight: bold;
}


/* 左边左拉框 */
.ban .con ul>li:nth-child(1){
	position: relative;
}
.ban .con ul>li:nth-child(1) .nv{
	width: 852px;
	height: 500px;
	background: #FAFAFA;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
}
.ban .con ul>li:nth-child(1) .nv .left{
	width: 644px;
	height: 100%;
	background: #fff;
	float: left;
}
.ban .con ul>li:nth-child(1) .nv .biaoti{
	width: 120px;
	height: 500px;
	float: left;
}
.ban .con ul>li:nth-child(1) .nv .biaoti>div{
	width: 100%;
	height: 106px;
}
.ban .con ul>li:nth-child(1) .nv .biaoti>div:nth-child(2){
	margin-top: 13px;
}
.ban .con ul>li:nth-child(1) .nv .biaoti>div:nth-child(3){
	margin-top: 13px;
}
.ban .con ul>li:nth-child(1) .nv .biaoti>div:nth-child(4){
	margin-top: 13px;
}
.ban .con ul>li:nth-child(1) .nv .biaoti>div>div{
	width: 100%;
	height: 53px;
	line-height: 53px;
	text-align: center;
	color:#333333;
	font-size: 14px;
}
.ban .con ul>li:nth-child(1) .nv .biaoti>div>div:nth-child(2){
	margin-top: -10px;
}

/* 内容 */
.ban .con ul>li:nth-child(1) .nv .neir{
	width: 495px;
	height: 100%;
	float: left;
}
.ban .con ul>li:nth-child(1) .nv .neir>div{
	width: 495px;
	height: 120px;
	background: #fff;	
	/* background: blue; */
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div:nth-child(1){
	width: 100%;
	height: 53px;
	border-bottom: 1px dashed #E6E6E6;
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div:nth-child(2){
	width: 100%;
	height: 63px;
	border-bottom: 1px dashed #E6E6E6;
	padding: 2px 0 0 0;
	box-sizing: border-box;
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div:nth-child(1)>a{
	color: #666666;
	font-size: 14px;
	line-height: 53px;	
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div:nth-child(2)>a{
	color: #666666;
	font-size: 14px;
	line-height: 25px;
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div:nth-child(2){
	margin-top: -3px;
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div:nth-child(3){
	margin-top: -3px;
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div:nth-child(4){
	margin-top: -3px;
}
.ban .con ul>li:nth-child(1) .nv .neir>div>div>a:hover{
	color: #E54077;
}

/* 右图 */
.ban .con ul>li:nth-child(1) .nv .right{
	width: 190px;
	height: 480px;
	/* background: yellow; */
	float: right;
	margin: 9px 8px;
}
.ban .con ul>li:nth-child(1) .nv .right .tu{
	display: block;
	width: 94px;
	height: auto;
	float: left;
	margin-right: 1px;
}
.ban .con ul>li:nth-child(1) .nv .right .tu:hover{
	opacity: 0.8;
}
.ban .con ul>li:nth-child(1) .nv .right .tu1{
	display: block;
	width: 190px;
	height: auto;
	float: left;
}

/* 左边左拉框2 */
.ban .con ul>li:nth-child(2){
	position: relative;
}
.ban .con ul>li:nth-child(2) .nan{
	width: 852px;
	height: 500px;
	background: #FAFAFA;
	position: absolute;
	top: -30px;
	left: 200px;
	display: none;
}
.ban .con ul>li:nth-child(2):hover .nan{
	display: block;
}
.ban .con ul>li:nth-child(2) .nan .left{
	width: 644px;
	height: 100%;
	background: #fff;
	float: left;
}
.ban .con ul>li:nth-child(2) .nan .biaoti{
	width: 120px;
	height: 500px;
	float: left;
}
.ban .con ul>li:nth-child(2) .nan .biaoti>div{
	width: 100%;
	height: 106px;
}
.ban .con ul>li:nth-child(2) .nan .biaoti>div:nth-child(2){
	margin-top: 13px;
}
.ban .con ul>li:nth-child(2) .nan .biaoti>div:nth-child(3){
	margin-top: 13px;
}
.ban .con ul>li:nth-child(2) .nan .biaoti>div:nth-child(4){
	margin-top: 13px;
}
.ban .con ul>li:nth-child(2) .nan .biaoti>div>div{
	width: 100%;
	height: 53px;
	line-height: 53px;
	text-align: center;
	color:#333333;
	font-size: 14px;
}
.ban .con ul>li:nth-child(2) .nan .biaoti>div>div:nth-child(2){
	margin-top: -10px;
}

/* 内容 */
.ban .con ul>li:nth-child(2) .nan .neir{
	width: 495px;
	height: 100%;
	float: left;
}
.ban .con ul>li:nth-child(2) .nan .neir>div{
	width: 495px;
	height: 120px;
	background: #fff;	
	/* background: blue; */
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div:nth-child(1){
	width: 100%;
	height: 53px;
	border-bottom: 1px dashed #E6E6E6;
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div:nth-child(2){
	width: 100%;
	height: 63px;
	border-bottom: 1px dashed #E6E6E6;
	padding: 2px 0 0 0;
	box-sizing: border-box;
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div:nth-child(1)>a{
	color: #666666;
	font-size: 14px;
	line-height: 53px;	
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div:nth-child(2)>a{
	color: #666666;
	font-size: 14px;
	line-height: 25px;
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div:nth-child(2){
	margin-top: -3px;
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div:nth-child(3){
	margin-top: -3px;
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div:nth-child(4){
	margin-top: -3px;
}
.ban .con ul>li:nth-child(2) .nan .neir>div>div>a:hover{
	color: #427DEF;
}

/* 右图 */
.ban .con ul>li:nth-child(2) .nan .right{
	width: 190px;
	height: 480px;
	/* background: yellow; */
	float: right;
	margin: 9px 8px;
}
.ban .con ul>li:nth-child(2) .nan .right .tu{
	display: block;
	width: 94px;
	height: auto;
	float: left;
	margin-right: 1px;
}
.ban .con ul>li:nth-child(2) .nan .right .tu:hover{
	opacity: 0.8;
}
.ban .con ul>li:nth-child(2) .nan .right .tu1{
	display: block;
	width: 190px;
	height: auto;
	float: left;
}

/* 轮播点 */
/* .ban .con #wheel{
	width: 100%;
	height: 30px;
	background: red;	
	position:absolute;
	top:440px;
	left: 0;
	z-index: 100;
}
.ban .con #wheel #w{
	width:0;
	height: 22px;
	background: #9C9EA1;
	float: left;
	margin-right: 10px;
} */



/* 你的专属搞活动 */
.title{
	height: 22px;
	margin-top: 30px;
	margin-bottom: 40px;
}
.title .zi{
	height: 100%;
	margin-bottom: 5px;
}
.title .zi .zhong{
	width: 252px;
	height: 100%;
	margin: 0 auto;
	margin: 0 auto;
	text-align: center;
}
.title .zi .zhong>span{
	color: #DD2727;
	font-size: 18px;
}
.title .zi .s1{
	display: block;
	width: 403px;
	height: 1px;
	margin-top: 11px;
	background: #ECECEC;
	float: left;
}
.title .zi .s2{
	display: block;
	width: 403px;
	height: 1px;
	margin-top: -11px;
	background: #ECECEC;
	float: right;
}
.title .wu{
	margin-top: 10px;
	height: auto;
	box-sizing: border-box;
	float: left;
	transition: all 0.6s ease;
}
.title .wu .w{
	display: block;
}
.title .wu:hover{
	opacity: 0.65;
}


/* 古筝 */

.gu{
	width: 100%;
	height:436px;
	float: left;
	margin: 15px auto;
}
.gu .gutu1{
	height: 436px;
/* 	background: blue; */
	margin: 0 auto;
}
.gu .gutu1 .left{
	width: 488px;
	height:100%;
	float: left;
	background: #000;
	position: relative;
}
.gu .gutu1 .left>div{
	display: block;
	width: 488px;
}
.gu .gutu1 .left .xiao{
	display: block;
 	width: 160px;
 	height: 90px;
 	margin-top: 10px;
 	margin-right: 4px;
 	float: left;
}
/* ? */
.gu .gutu1 .left .xiao:nth-child(3){
	margin-right: 0;
}

.gu .gutu1 .left .zhi{
	width: 81px;
	height: 31px;
	float: left;
	margin: 16px 0 16px 25px;
}
.gu .gutu1 .left p{
	width: 300px;
	height: 20px;
	color: #fff;
	font-size: 14px;
	float: left;
	margin: 12px 0 0 10px;
}
.gu .gutu1 .left .p1{
	width: 300px;
	height: 20px;
	color: #BF0D05;
	font-size: 14px;
	float: left;
	margin: 0 0 0 10px;
}
/* bf */
.gu .gutu1 .left .bf{
	display: block;
	width: 70px;
	height: 57px;
	position: absolute;
	top: 100px;
	left: 200px;
}
.gu .gutu1 .left .zhibo{
	width: 61px;
	height: 20px;
	border-radius: 70px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 20px;
	left: 400px;
	text-align: center;
	line-height: 20px;
}
.gu .gutu1 .left .zhibo .y{
	width: 8px;
	height: 8px;
	border-radius:50%;
	background: #FF456C;
	position: absolute;
	top: 8px;
	left: 2px;
}
.gu .gutu1 .left .zhibo>span{
	display: block;
	margin-left: 5px;
	font-size: 14px;
	color: #fff;
}
.gu .gutu1 .left .zi{
	width: 440px;
	height: 33px;
	font-size: 24px;
	color: #fff;
	position: absolute;
	top: 190px;
	left: 35px;
}

/* 细节 */
.gu .gutu1 .left .jian{
	position: relative;
}
.gu .gutu1 .left .jian .jiantou{
	height: 90px;
	width: 17px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 90px;
	color: #CFCECD;
}
.gu .gutu1 .left .jian .z1{
	width: 140px;
	height: 17px;
	font-size: 12px;
	color: #fff;
	position: absolute;
	top: 50px;
	left: 0px;
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
/* 动效 */
.gu .gutu1 .left .bf{
	transition: all 0.2s ease;
}
.gu .gutu1 .left:hover .bf{
	transform: scale(1.1);
}
/* 小猫没做 */

.gu .gutu1 .right{
	width: 732px;
	height: 436px;
	float: right;
}
.gu .gutu1 .right .logo1{
	width: 121px;
	height:108px;
	float: left;
	background: #fff;
	position: relative;

	margin-right: 1px;
	margin-bottom: 1px;
}
.gu .gutu1 .right .logo1>img{
	display: block;
	margin-top: 30px;
}
.gu .gutu1 .right .logo1 .tao{
	width: 121px;
	height:108px;
	float: left;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.5s ease;

}
.gu .gutu1 .right .logo1 .tao>img{
	margin-left: 80px;
	margin-bottom: 8px;
}
.gu .gutu1 .right .logo1 .tao>span{
	display: block;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.gu .gutu1 .right .logo1 .tao .hong{
	display: block;
	width: 63px;
	height: 18px;
	border-radius: 40px;
	background: #FF0005;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
}
.gu .gutu1 .right .logo1:hover .tao{
	opacity: 1;
}



/* 潮流前沿 */
.chao{
	width: 100%;
	height: 477px;	
	margin-top: 25px;
	float: left;
}
.chao .con{
	height: 100%;
	margin: 0 auto;
	background: #F5F5F5;
}
.chao .con a{
	display: block;
}
.chao .con .left{
	height: auto;
	background: #F5F5F5;
	float: left;
	padding: 0px 8px 0px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.chao .con .left .left_top{
	width: 100%;
	height: 36px;
	background: #DD2727;
}
.chao .con .left .left_center{
	width: 100%;
	height: 220px;
	background: #fff;
}
.chao .con .left .xian{
	width: 200px;
	height: 1px;
	background: #EEEEEE;
	margin: 0 auto;
}
.chao .con .left .left_bottom{
	width: 100%;
	height: 220px;
	background: #fff;
}
.chao .con .left .left_top{
	text-align: center;
	line-height: 36px;
}
.chao .con .left .left_top>span{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.chao .con .left .left_center .c1{
	color: #000;
	font-size: 22px;
	text-align: center;
	margin-top: 0;
}
.chao .con .left .left_center .c2{
	font-size: 14px;
	color: #888888;
	text-align: center;
}
.chao .con .left .left_center .c3{
	width: 133px;
	height: 133px;
	border-radius: 50%;
	background: #F8F8F8;
	margin: 0 auto;
	margin-top: 15px;
}
.chao .con .left .left_bottom .c1{
	color: #000;
	font-size: 22px;
	text-align: center;
	margin-top: 0;
}
.chao .con .left .left_bottom .c2{
	font-size: 14px;
	color: #888888;
	text-align: center;
}
.chao .con .left .left_bottom .c3{
	width: 133px;
	height: 133px;
	border-radius: 50%;
	background: #F8F8F8;
	margin: 0 auto;
	margin-top: 15px;
}
/* 动画 */
.chao .con .left .left_center .c3>img{
	transition: all 0.4s ease;
}
.chao .con .left .left_bottom .c3>img{
	transition: all 0.4s ease;
}
.chao .con .left .left_center:hover .c3>img{
	transform: scale(1.1);
	cursor: pointer;
}
.chao .con .left .left_bottom:hover .c3>img{
	transform: scale(1.1);
	cursor: pointer;
}

/* 好货不等人 */
.hao{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 30px;
}
.hao .con1{
	height: 90px;
	background: red;
	overflow: hidden;
}
.hao .con1>a{
	display: block;
	height: 90px;
	background: red;
	overflow: hidden;
}
.hao .con1>a>img{
	margin-left: -180px;
}

/* 美丽人生 */
.mei{
	width: 100%;
	height: 470px;
	float: left;
	margin-top: 30px;
}
.mei .m1{
	height: 470px;
	/* background: red; */
	margin: 0 auto;
}
.mei .m1 .meili{
	width: 246px;
	height: 18px;
	float: left;
}
.mei .m1 .meili .shu{
	width: 5px;
	height: 20px;
	background: #EA5F8D;
	float: left;
	margin-right: 10px;
}
.mei .m1 .meili>span{
	display: block;
	font-size: 18px;
	color: #000;
	float: left;
}
.mei .m1 .meili .ying{
	width: 150px;
	height: 16px;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #000;
	float: left;
	margin-top: 3px;
}
.mei .m1 .you{
	width: auto;
	height: 31px;
	float: right;
}
.mei .m1 .you .lian{
	display: block;
	float: left;
	text-align:center;
	line-height: 20px;
	color: #000; 
	margin-left: 28px;
	margin-top: 10px;
	font-size: 14px;
}
.mei .m1 .you .lian:hover{
	border-bottom: 1px solid #000;
}
/* 字结束 */

/* 图开始 */
.mei .m1{
	position: relative;
	/* background: blue; */
}
.mei .m1 .m2{
	width: 246px;
	height: 470px;
	margin-top: 8px;
	position: absolute;
	top: 11px;
	left: 0;
}
.mei .m1 .m2 .a{
	display: block;
	width: 246px;
	height: 330px;
	position: relative;
}

 .mei .m1 .m2 .a .d{
 	display: block;
 	width: 246px;
 	height: 30px;
 	background: rgba(255, 255, 255, 0.8); 
 	/* background: #fff; */
 	position: absolute;
 	top: 300px;
 	left: 0;
 	text-align: center;
 	color: #000;
 	font-size: 14px;
 	line-height: 30px;
 }
.mei .m1 .m2 .a .niu{
	width: 246px;
	height: 105px;
	background: #EA5F8D;
}
.mei .m1 .m2 .a .niu h1{
	width: 246px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	font-size: 22px;
}
.mei .m1 .m2 .a .niu h2{
	width: 246px;
	height: 27px;
	text-align: center;
	line-height: 27px;
	color: #fff;
	font-size: 18px;
}
.mei .m1 .m2 .a .niu .w{
	margin-left: 50px;
}
.mei .m1 .m2{
 	transition: all 0.5s ease;
 }
.mei .m1 .m2:hover{
 	opacity: 0.8;
}
.mei .m1 .micai{
	width: 738px;
	height: 435px;
	/* background: blue; */
	position:absolute;
	top: 0;
	left: 246px;
	z-index:100;
	margin-top: 35px;
	overflow: hidden;

}
.mei .m1 .micai .micai1{
	display: block;
	width: 244px;
	height: 217px;
	background: #fff;
	float:left;
	position: relative;
	border: 1px solid #F5F5F5;
}
.mei .m1 .micai .micai1 h3{
	width: 200px;
	height: 20px;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 20px;
}
.mei .m1 .micai .micai1 h4{
	width: 200px;
	height: 18px;
	color: #ED5FA9;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin-top: 6px;
	position: absolute;
	top: 40px;
	left: 0 ;
	z-index: 10;

}
.mei .m1 .micai .micai1>img{
	display: block;
	margin-top: 24px;
	margin-left: 90px;
	position: absolute;
	top: 38px;
	left: 0px;
}
.mei .m1 .micai .micai1>img{
	transition: all 0.3s ease;
} 
.mei .m1 .micai .micai1:hover img{
	transform: translateX(-10px);
}


.mei .m1 .san{
	width: 247px;
	height: 435px;
	background: red;
	position:absolute;
	top: 35px;
	left: 985px;
}

.mei .m1 .san .micai{
	width:247px;
	height: 435px;
	background: blue;
	position:absolute;
	top: 0;
	left: 789px;
	z-index:100;
	margin-top: 35px;
	overflow: hidden;
}

.mei .m1 .san .micai1{
	display: block;
	width: 246px;
	height: 143.5px;
	background: #fff;
	float:left;
	position: relative;
	border: 1px solid #F5F5F5;
}
.mei .m1 .san .micai1 h3{
	width: 200px;
	height: 20px;
	color: #000;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 20px;
}
.mei .m1 .san .micai1 h4{
	width: 200px;
	height: 18px;
	color: #ED5FA9;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin-top: 6px;
	position: absolute;
	top: 40px;
	left: 0 ;
	z-index: 10;

}
.mei .m1 .san .micai1>img{
	display: block;
	margin-top: 24px;
	margin-left: 90px;
	position: absolute;
	top: 20px;
	left:54px;
}
.mei .m1 .san .micai1>img{
	transition: all 0.3s ease;
} 
.mei .m1 .san .micai1:hover img{
	transform: translateX(-10px);
}
/* 潮流酷玩 */

.mei .m1 .meili .shu1{
	background: #0AA6E8;
}
.mei .m1 .micai .micai1 .h4{
	color: #0AA6E8;
}
.mei .m1 .m2 .a .bijiben{
	background: #0AA6E8;
}
.mei .m1 .san .micai1 .h4{
	color: #0AA6E8;
}


/* 居家生活 */

.mei .m1 .meili .shu2{
	background: #64C333;
}
.mei .m1 .micai .micai1 .h5{
	color: #64C333;
}
.mei .m1 .m2 .a .huanji{
	background: #64C333;
}
.mei .m1 .san .micai1 .h5{
	color: #64C333;
}

/* 打造爱巢 */

.mei .m1 .meili .shu3{
	background: #F15453;
}
.mei .m1 .micai .micai1 .h6{
	color: #F15453;
}
.mei .m1 .m2 .a .jia{
	background: #F15453;
}
.mei .m1 .san .micai1 .h6{
	color: #F15453;
}
/* 户外出行 */

.mei .m1 .meili .shu4{
	background: #19C8A9;
}
.mei .m1 .micai .micai1 .h7{
	color: #19C8A9;
}
.mei .m1 .m2 .a .hu{
	background: #19C8A9;
}
.mei .m1 .san .micai1 .h7{
	color: #19C8A9;
}
/* 亲自时光 */

.mei .m1 .meili .shu5{
	background: #F7A945;；
}
.mei .m1 .micai .micai1 .h8{
	color: #F7A945;
}
.mei .m1 .m2 .a .qin{
	background: #F7A945;
}
.mei .m1 .san .micai1 .h8{
	color: #F7A945;
}

/* 猜你喜欢 */
.cai{
	height: 40px;
	/* background: red; */
	margin-top: 30px;
	margin-bottom: 40px;
}
.cai .zi{
	width: 100%;
	height: 100%;
	margin-bottom: 5px;
}
.cai .zi .zhong{
	width: 252px;
	height: 100%;
	margin: 0 auto;
	color: #DD2727;
	font-size: 18px;
	text-align: center;
}
.cai .zi .s1{
	display: block;
	width: 50px;
	height: 1px;
	margin-top: 12px;
	margin-left: 550px;
	background: #979797;
	float: left;
}
.cai .zi .s2{
	display: block;
	width: 50px;
	height: 1px;
	margin-top: -28px;
	margin-right: 440px;
	background: #979797;
	float: right;
}

.cai .zi .zhong>span{
	color: #737373;
	font-size: 18px;
}

/* 猜你喜欢图 */
.xihuan{
	width: 100%;
	height:auto;
	float: left;
	margin-top: 20px;
	overflow: hidden;
}
.xihuan .xi{
	height: 333px;
	margin: 0 auto;
	padding: 7px 0;
	box-sizing: border-box;
}
.xihuan .xi>li{
	height: 319px;
	border: 1px solid #fff;
	background:#fff;
	float: left;
	padding: 0 8px 0 0;
	padding: 1px;
	box-sizing: border-box;

}
.xihuan .xi>li:last-child{
	margin-right: 0;
}
.xihuan .xi>li>a{
	display: block;
}
.xihuan .xi>li .qian{
	margin-top: 2px;
	width:235px;
	height: 91px;
	margin-left: 5px;
}
.xihuan .xi>li h5{
	color: #666;
	font-size: 14px;
	margin-top: 10px;
	font-weight: normal;
	padding: 3px 5px;
	box-sizing: border-box;
}
.xihuan .xi>li h6{
	color: red;
	font-size: 16px;
	float: left;
	font-weight: normal;
}
.xihuan .xi>li span{
	color: red;
	font-size: 16px;
	margin-top: 10px;
}
.xihuan .xi>li>a>img{
	transition: all .5s ease;
}
.xihuan .xi>li:hover{
	border: 1px solid #DD3131;
	box-sizing: border-box;
}
.xihuan .xi>li:hover a>img{
	opacity: 0.8;
}
/* 尾部的猫 */
.wei{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 20px;
}
.wei .wei1{
	height: 45px;
	margin: 0 auto;
}
.wei .wei1 .wei2{
	width: 80px;
	height: 45px;
	margin: 0 auto;
	background-image: url('../img/end.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/* foot */
footer{
	width: 100%;
	height: 360px;
	float: left;
	background:#fff;
	margin-top: 15px;
	border-top: 1px solid #D1D7DC;
}
footer .foot{
	width: 1190px;
	height: 564px;
	margin: 0 auto;
	position: relative;
}
footer .foot>a:nth-child(1){
	display: block;
	width: 297px;
	height: 100px;
	position: absolute;
	top: 18px;
	left: 0;
	background-image: url('../img/youda.jpg');
}
footer .foot>a:nth-child(2){
	display: block;
	width: 297px;
	height: 100px;
	position: absolute;
	top: 18px;
	left: 297px;
	background-image: url('../img/youda.jpg');
	background-position: -297px 0px;
}
footer .foot>a:nth-child(3){
	display: block;
	width: 297px;
	height: 100px;
	position: absolute;
	top: 18px;
	left: 594px;
	background-image: url('../img/youda.jpg');
	background-position: -594px 0px;
}
footer .foot>a:nth-child(4){
	display: block;
	width: 297px;
	height: 100px;
	position: absolute;
	top: 18px;
	left:891px;
	background-image: url('../img/youda.jpg');
	background-position: -891px 0px;
}




footer .foot .foot-top{
	height: 213px;
	margin-top: 120px;
	border-top: 1px solid #EDEDED;
}
footer .foot .foot-top .gou{
	width: 1190px;
	height: 213px;
}
footer .foot .foot-top .gou>li{
	width: 20%;
	height: auto;
	margin-top: 25px;
	padding: 0 0 0 40px;
	box-sizing: border-box;
	float: left;
}
footer .foot .foot-top .gou>li h1{
	color: #646464;
	font-size: 16px;
}
footer .foot .foot-top .gou>li>a{
	display: block;
	color: #8B8B8B;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* 信息 */
.foot-bottom{
	width: 100%;
	height:auto;
	background: #000;
	float: left;
	border-top: 2px solid #C40000;
	overflow: hidden;
}
.foot-bottom .nei{
	width: 1190px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}
.foot-bottom .nei .p1{
	width: auto;
	height: 35px;
	margin-top: 10px;
}
.foot-bottom .nei .p1>a{
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
.foot-bottom .nei .p2{
	width: auto;
	height: 30px;
}
.foot-bottom .nei .p2>a{
	color: #fff;
	font-size: 12px;
	margin-right: -1px;
}
.foot-bottom .nei .p2>span{
	color: #fff;
	font-size: 12px;
	margin-right: -1px;
}
.foot-bottom .nei .xinxi{
	width: 100%;
	height: 110px;
	/* background: red; */
	margin: 0 auto;
	line-height: 25px;
}
.foot-bottom .nei .xinxi>span{
	margin-right: 30px;
	color: #A4A4A4;
}
.foot-bottom .nei .xinxi>span>a{
	color: #A4A4A4;
}
.foot-bottom .nei .xinxi .s1{
	color: #686868;
}
.foot-bottom .nei .xinxi .bann{
	height: 45px;
	margin-top: 5px;
	position: relative;
}
.foot-bottom .nei .xinxi .bann .ban1{
	display: block;
	width: 73px;
	height: 30px;
	margin-right: 30px;
	float: left;
}
.foot-bottom .nei .xinxi .bann .ban2{
	display: block;
	width: 73px;
	height: 30px;
	position: absolute;
	top: 0;
	left:90px;
	background-position: -4px 0px;
	background-image: url('../img/wang.jpg');
}
.foot-bottom .nei .xinxi span .img2{
	display:inline-block;
}
/* 固定拉框 */
.guding{
	width: 35px;
	height: 613px;
	background: #000;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
}
.guding .top{
	width: 35px;
	height: 35px;
	position: fixed;
	top: 70px;
	right: 0;
	background-image: url('../img/1.png');
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
}
.guding .top .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 70px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .top .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 80px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .top:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .top:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}







.guding .top0{
	width: 35px;
	height: 110px;
	position: fixed;
	top: 110px;
	right: 0px;
	z-index: 100;
}
.guding .top1{
	width: 26px;
	height: 108px;
	position: fixed;
	top: 110px;
	right: 4.5px;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}
.guding .top1 .gou1{
	width: 26px;
	height: 30px;
	position: fixed;
	top: 120px;
	right: 4.5px;
	background-image: url('../img/12.png');
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;	
	display: none;
}
.guding .top1 .gou{
	width: 26px;
	height: 30px;
	position: fixed;
	top: 120px;
	right: 4.5px;
	background-image: url('../img/13.png');
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;	
}

.guding .top1 .zi{
	width: 12px;
	height: 60px;
	position: fixed;
	top: 150px;
	right: 11px;
}
.guding .top1 .zi>span{
	color: #fff;
	font-size: 12px;
}
.guding .qian{
	width: 35px;
	height: 35px;
	position: fixed;
	top: 225px;
	right: 0px;
	background-image: url('../img/3.png');
	background-position:0px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
/* 资产 */
.guding .qian .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 225px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .qian .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 236px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .qian:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .qian:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}

.guding .xin{
	width: 35px;
	height: 35px;
	position: fixed;
	top: 265px;
	right: 0px;
	background-image: url('../img/4.png');
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
/* 心 */
.guding .xin .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 265px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .xin .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 274px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .xin:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .xin:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}
.guding .xing{
	width: 35px;
	height: 35px;	
	position: fixed;
	top: 305px;
	right: 0px;
	background-image: url('../img/xing.png');
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
/* 星 */
.guding .xing .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 305px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .xing .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 316px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .xing:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .xing:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}
.guding .yuan{
	width: 35px;
	height: 35px;
	position: fixed;
	top: 346px;
	right: 0px;
	background-image: url('../img/5.png');
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
.guding .yuan .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 346px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .yuan .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 357px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .yuan:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .yuan:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}
.guding .chong{
	width: 35px;
	height: 35px;
	position: fixed;
	top: 387px;
	right: 0px;
	background-image: url('../img/9.png');
	background-position: 1px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
.guding .chong .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 387px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .chong .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 397px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .chong:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .chong:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}
.guding .bi{
	width: 35px;
	height: 35px;
	position: fixed;
	top: 460px;
	right: 0px;
	background-image: url('../img/10.png');
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
.guding .bi .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 460px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .bi .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 470px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .bi:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .bi:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}
.guding .fang{
	width: 35px;
	height: 35px;
	position: fixed;
	top: 500px;
	right: 0px;
	background-image: url('../img/7.png');
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
.guding .jian{
	width: 35px;
	height: 35px;
	position: fixed;
	/* background:  #DD2727; */
	top: 540px;
	right: 0px;
	background-image: url('../img/6.png');
	background-position: 0px 0px;
	background-size: cover;
	background-repeat: no-repeat;	
}
.guding .jian .f1{
	width: 90px;
	height: 35px;
	background: #4B4B48;
	position: fixed;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-size: 12px;
	top: 540px;
	right: 90px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .jian .f2{
	width:0;
	height: 0;
	border-top: 7px solid rgba(0, 0, 0, 0.0);
	border-left: 7px  solid  #4B4B48;
	border-bottom: 7px  solid rgba(0, 0, 0, 0.0);
	position: fixed;
	top: 550px;
	right: 84px;
	opacity: 0;
	transition: all 0.6s ease;
}
.guding .jian:hover .f1{
	opacity: 1;
	transform: translateX(56px);
}
.guding .jian:hover .f2{
	opacity: 1;
	transform: translateX(56px);
}
.guding .bian:hover{
	background-color: #C40000;
	cursor: pointer;
}
.guding .bian:hover .top1{
	border: 0;
}
.guding .top0:hover .gou1{
	display: block;
}
.guding .top0:hover .gou{
	display: none;
}

/* 猫 */













