/*
* @Author: Administrator
* @Date:   2017-04-04 18:19:22
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-06 00:43:21
*/
@media screen and (min-width: 1230px){
    .foot-bottom .nei{
    	width: 1190px;
    }
}
@media screen and (max-width: 1230px){
	.ban_top .ban_con .mm{
		display: none;
	}
	.header .con .sou div{
		width: 276px;
	}
	.header .con .sou div>input{
		width: 276px;
	}
	.header .con ul>li{
		padding: 0 3px;
	}
	.header .con ul>li .diao{
		display: none;
	}
	.header .con ul .diao1{
	border-right:0;
	}
    .foot-bottom .nei{
    	width: 990px;
    }
    .hao .con1>a>img{
	margin-left: -300px;
	}
	.mei .m1 .san{
		display: none;
	}
	.gu .gutu1 .right{
		width: 494px;
		overflow: hidden;
	}
	nav .con>ul .l1{
		display: none;
	}
	footer .foot>a:nth-child(1){
	display: block;
	width: 247px;
	height: 100px;
	position: absolute;
	top: 18px;
	left: 90px;
	background-image: url('../img/youzhong.jpg');
	}
	footer .foot>a:nth-child(2){
	display: block;
	width: 247px;
	height: 100px;
	position: absolute;
	top: 18px;
	left: 337px;
	background-image: url('../img/youzhong.jpg');
	background-position: -247px 0px;
	}
	footer .foot>a:nth-child(3){
	display: block;
	width: 247px;
	height: 100px;
	position: absolute;
	top: 18px;
	left: 584px;
	background-image: url('../img/youzhong.jpg');
	background-position: -494px 0px;
	}
	footer .foot>a:nth-child(4){
	display: block;
	width: 247px;
	height: 100px;
	position: absolute;
	top: 18px;
	left:831px;
	background-image: url('../img/youzhong.jpg');
	background-position: -741px 0px;
	}
	footer .foot .foot-top{
		width: 990px;
		margin-left: 88px;
	}
	footer .foot .foot-top .gou{ 
		width: 990px;
		margin-left: 10px;
	}
}